#items-container.card.text-dark.row
    #left-panel.col-5.panel
        .list-titles
            .title
                span Folders
        include ./controls
        +search(buttonTest, listA.rows.length)
        #list-a.list-container
            ul.list-group-flush
                for item in listA.rows
                    li.list-group-item.popup-msg(id=item.Id data-title=item.Path tabindex="0")
                        i.fas.fa-folder.mx-2
                        span#item-name= item.Name
    #right-panel.col-7.panel
        .list-titles
            .title
                span Content
        include ./controls
        +search(false, listB.rows.length)
        #list-b.list-container
            ul.list-group-flush
                for item in listB.rows
                    li.list-group-item(id=item.Id tabindex="0")
                        span.show-form                   
                            i.ml-1.fas.fa-edit
                        span.v-remove.text-danger
                            i.fas.fa-trash-alt
                        span#item-name= item.Name
                